BOT_TOKEN=
ADMIN_IDS=5478201425

DATABASE_URL=postgresql+asyncpg://vpn:vpn@db:5432/vpn_bot

XUI_BASE_URL=https://213.165.40.42:2053/mf6C3EEWp03XTQudq3
XUI_USERNAME=
XUI_PASSWORD=
XUI_INBOUND_ID=2
XUI_REQUEST_TIMEOUT=15

VPN_HOST=213.165.40.42
VPN_PORT=443
VPN_PROTOCOL=vless
VPN_SECURITY=reality
VPN_TYPE=tcp
VPN_SNI=
VPN_PUBLIC_KEY=
VPN_SHORT_ID=
VPN_FLOW=xtls-rprx-vision
VPN_FINGERPRINT=chrome
VPN_PATH=
VPN_SPX=
VPN_REMARK_PREFIX=vpn

DEFAULT_SUBSCRIPTION_DAYS=30
PRICE_TEXT=VPN доступ: 50руб / месяц\nОплата: РУБ / перевод\nПосле оплаты нажми кнопку «Я оплатил».
PAYMENT_PHONE=+79973608998
PLAN_PRICES={"1":50,"2":90,"3":120,"6":200}
